<apex:page standardController="Opportunity_Attachment__c" extensions="OpportunityAttachmentController">

<apex:sectionHeader title="Attach File to Opportunity{!objOpp.name}"  />
 
  <apex:form id="form" enctype="multipart/form-data">
     
    <apex:pageMessages />

            <apex:pageBlock >
            
                    <apex:pageBlockSection columns="1" id="pbs">
                     <apex:outputText style="font-weight: bold" value="{!$Label.step1}"/> 
                    <apex:outputText value="{!$Label.step1_1}"/>
                    <apex:inputFile value="{!attachment.body}" filename="{!attachment.name}" id="file"/>
        
                    <apex:outputText style="font-weight: bold" value="{!$Label.Step2}"/> 
                    <apex:outputText value="{!$Label.Step2_1}"/>
                    <apex:pageBlockSectionItem >
                    <apex:inputfield value="{!objOppAttachment.Type__c}" id="fldType" required="True"/>
                    </apex:pageBlockSectionItem>

                     <apex:outputText style="font-weight: bold" value="{!$Label.Step3}"/> 
                      <apex:outputText value="{!$Label.Step3_1}"/>
                     <apex:commandButton action="{!upload}" value="Attach File" id="btnUpload"/>
                      </apex:pageBlockSection>

            </apex:pageBlock>
   
   <br></br>
   
      
&nbsp; &nbsp; &nbsp; <apex:outputText style="font-weight: bold" value="{!$Label.Step4}"/>
                    <br></br>

                    <br></br>
                  
&nbsp; &nbsp; &nbsp;<apex:commandButton action="{!backToQuotePage}" value="Done" immediate="True" id="btnBackToQuotePage"/>

<br></br>
<br></br>
<br></br>

            <apex:pageBlock id="pb" rendered="{!bUploadMsg}">
                        <apex:pageBlockSection title="You have just uploaded the following file" columns="1" id="pbsFile" collapsible="False">
                        <apex:outputField value="{!objAttachment.Name }"/>
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel value="File Size"/>
                            <apex:outputText value="{!strFileSize}" />
                        </apex:pageBlockSectionItem>
                        <apex:outputField value="{!objOppAttachmentShow.Type__c}"/>
                        </apex:pageBlockSection>
            </apex:pageBlock>

  </apex:form>
  
</apex:page>